<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../../layout/head.ejs')  %> 

</head>
<body>
    <header>
        <%- include ('../../layout/header.ejs')  %> 

    </header>
    <main>
        <%- include ('detail.ejs') %> 
        <%- include ('edit.ejs') %> 

    </main>
    <footer></footer>

</body>
</html>