/* @media only screen and (min-width : 320px) and (max-width:480px){ */
    body{
        width: 480px;
        background-color: #9b9b9b;
        margin: auto;
        box-sizing: border-box;

    }
    a{
        text-decoration: none;
    }
/* } */