<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include ('../../layout/head.ejs')  %> 

</head>

<body>
    <header>
        <%- include ('../../layout/header.ejs')  %> 

    </header>

    <main>
        <form action="/searches" method="POST" id="searching">
            <input type="text" placeholder="Enter a title or author" name="search" class="add"><br />

            <label for="title" id="lable1">
                <input type="radio" name="type" id="" value="title"class="radio" >
                Title
            </label><br />

            <label for="author" id="lable2">
                <input type="radio" value="author" name="type" class="radio">
                Author
                
            </label><br />


            <button type="submit" class="search">Search the Google Books API</button>
        </form>
    </main>

    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>