<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include ('../../layout/head.ejs')  %> 

</head>

<body>
    <header>
        <%- include ('../../layout/header.ejs')  %> 

    </header>

    <main>
        <form action="/searches" method="POST">
            <input type="text" placeholder="Enter a title or author" name="search"><br />

            <input type="radio" name="type" id="" value="title"class="radio" >
            <label for="title">Title</label><br />

            <input type="radio" value="author" name="type" class="radio">
            <label for="author">Author</label><br />


            <button type="submit">Search the Google Books API</button>
        </form>
    </main>

    <footer></footer>

</body>

</html>