<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <!-- <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">
    <link rel="stylesheet" href="style/icons.css"> -->

</head>

<body>
    <header>
        <h1>Search by Title or Author</h1>
    </header>
    <main>
        <form action="">
            <input type="text" placeholder="Enter a title or author"><br />

            <input type="radio" name="title" id="" value="title">
            <label for="title">Title</label><br />

            <input type="radio" value="author">
            <label for="author">Author</label><br />


            <button type="submit">Search the Google Books API</button>
        </form>
    </main>

    <footer></footer>

</body>

</html>