<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book App</title>
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="style/base.css">
<link rel="stylesheet" href="/style/layout.css">
<link rel="stylesheet" href="/style/modules.css">
<link rel="stylesheet" href="/style/icons.css">
<!-- otherlinks -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">